.stats_card {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.stats__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icon_wrapper {
  padding: 0.75rem;
  background-color: #4288e3;
  border-radius: 0.5rem;
}


.card__value {
  font-size: 1.875rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 0.25rem;
}

.card__label {
  color: #6b7280;
  font-size: 0.875rem;
}